In [1]:
import pandas as pd
import numpy as np
from tkinter import *

In [2]:
data = pd.read_csv('titanic.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
data = data.drop(['Name','Age','Cabin','Ticket'],axis=1)
data.head()

   PassengerId  Survived  Pclass     Sex  SibSp  Parch     Fare Embarked
0            1         0       3    male      1      0   7.2500        S
1            2         1       1  female      1      0  71.2833        C
2            3         1       3  female      0      0   7.9250        S
3            4         1       1  female      1      0  53.1000        S
4            5         0       3    male      0      0   8.0500        S

In [5]:
data.fillna('C',axis=1,inplace=True)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   SibSp        891 non-null    int64
 5   Parch        891 non-null    int64
 6   Fare         891 non-null    float64
 7   Embarked     891 non-null    object
dtypes: float64(1), int64(5), object(2)
memory usage: 55.8+ KB

In [7]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
for i in data.columns:
    if data.dtypes[i] == object:
        data[i]=lb.fit_transform(data[i])

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    int32
 4   SibSp        891 non-null    int64
 5   Parch        891 non-null    int64
 6   Fare         891 non-null    float64
 7   Embarked     891 non-null    int32
dtypes: float64(1), int32(2), int64(5)
memory usage: 48.9 KB

In [9]:
data.head()

   PassengerId  Survived  Pclass  Sex  SibSp  Parch     Fare  Embarked
0            1         0       3    1      1      0   7.2500         2
1            2         1       1    0      1      0  71.2833         0
2            3         1       3    0      0      0   7.9250         2
3            4         1       1    0      1      0  53.1000         2
4            5         0       3    1      0      0   8.0500         2

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

In [11]:
X = data.drop('Survived',axis=1)
Y = data['Survived']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.30, random_state=101)

In [12]:
window = Tk()
window.title('Classification models')
window.config(padx=200, pady=100)
lr = LogisticRegression()
dt = DecisionTreeClassifier()
sv = SVC(kernel='linear')
rf = RandomForestClassifier()
kn = KNeighborsClassifier()
nb = GaussianNB()

lr.fit(X, Y)
dt.fit(X, Y)
sv.fit(X, Y)
rf.fit(X, Y)
kn.fit(X, Y)
nb.fit(X, Y)

def fir():
    Y_pred = lr.predict(X_test)
    z = lr.predict([[int(input1.get()),int(input2.get()),int(input3.get()),int(input4.get()),int(input5.get()),float(input6.get()),int(input7.get())]])
    if z[0]==0:
        new_label.config(text="Alas, passenger did not survive.")
    else:
        new_label.config(text="Passenger survived.")

def sec():
    y_pred = dt.predict(X_test)
    p = dt.predict([[int(input1.get()),int(input2.get()),int(input3.get()),int(input4.get()),int(input5.get()),float(input6.get()),int(input7.get())]])
    if p[0]==0:
        new_label.config(text="Alas, passenger did not survive.")
    else:
        new_label.config(text="Passenger survived.")

def thi():
    Y_Pred = sv.predict(X_test)
    r = sv.predict([[int(input1.get()),int(input2.get()),int(input3.get()),int(input4.get()),int(input5.get()),float(input6.get()),int(input7.get())]])
    if r[0]==0:
        new_label.config(text="Alas, passenger did not survive.")
    else:
        new_label.config(text="Passenger survived.")

def fo():
    y_Pred = rf.predict(X_test)
    u = rf.predict([[int(input1.get()),int(input2.get()),int(input3.get()),int(input4.get()),int(input5.get()),float(input6.get()),int(input7.get())]])
    if u[0]==0:
        new_label.config(text="Alas, passenger did not survive.")
    else:
        new_label.config(text="Passenger survived.")

def fif():
    Y_pr = kn.predict(X_test)
    pac = kn.predict([[int(input1.get()),int(input2.get()),int(input3.get()),int(input4.get()),int(input5.get()),float(input6.get()),int(input7.get())]])
    if pac[0]==0:
        new_label.config(text="Alas, passenger did not survive.")
    else:
        new_label.config(text="Passenger survived.")

def six():
    y_p = nb.predict(X_test)
    god = nb.predict([[int(input1.get()),int(input2.get()),int(input3.get()),int(input4.get()),int(input5.get()),float(input6.get()),int(input7.get())]])
    if god[0]==0:
        new_label.config(text="Alas, passenger did not survive.")
    else:
        new_label.config(text="Passenger survived.")

def sev():
    Y_pred = lr.predict(X_test)
    y_pred = dt.predict(X_test)
    Y_Pred = sv.predict(X_test)
    y_Pred = rf.predict(X_test)
    Y_pr = kn.predict(X_test)
    y_p = nb.predict(X_test)
    a = accuracy_score(Y_test, Y_pred)
    b = accuracy_score(Y_test, y_pred)
    c = accuracy_score(Y_test, Y_Pred)
    d = accuracy_score(Y_test, y_Pred)
    e = accuracy_score(Y_test, Y_pr)
    f = accuracy_score(Y_test, y_p)

    arr = [a,b,c,d,e,f]
    max_acc = max(arr)
    if max_acc == a:
        new_label2.config(text="Logistic model has maximum accuracy.")
    elif max_acc == b:
        new_label2.config(text="Decision Tree model has maximum accuracy.")
    elif max_acc == c:
        new_label2.config(text="SVM model has maximum accuracy.")
    elif max_acc == d:
        new_label2.config(text="Random forest model has maximum accuracy.")
    elif max_acc == e:
        new_label2.config(text="KNN model has maximum accuracy.")
    else:
        new_label2.config(text="Naive Bayes model has maximum accuracy.")



label = Label(text = 'PassengerId')
label.grid(row=0,column=0)

input1 = Entry()
input1.grid(row=0,column=1)

label1 = Label(text = 'Pclass')
label1.grid(row=1,column=0)

input2 = Entry()
input2.grid(row=1,column=1)

label2 = Label(text = 'Gender')
label2.grid(row=2,column=0)

input3 = Entry()
input3.grid(row=2,column=1)

label3 = Label(text = 'SibSp')
label3.grid(row=3,column=0)

input4 = Entry()
input4.grid(row=3,column=1)

label4 = Label(text = 'Parch')
label4.grid(row=4,column=0)

input5 = Entry()
input5.grid(row=4,column=1)

label5 = Label(text = 'Fare')
label5.grid(row=5,column=0)

input6 = Entry()
input6.grid(row=5,column=1)

label6 = Label(text = 'Embarked')
label6.grid(row=6,column=0)

input7 = Entry()
input7.grid(row=6,column=1)

but = Button(text='Using Logistic',command=fir)
but.grid(row=7,column=0)

but1 = Button(text='Using DT',command=sec)
but1.grid(row=7,column=1)

but2 = Button(text='Using SVM',command=thi)
but2.grid(row=8,column=0)

but3 = Button(text='Using RF',command=fo)
but3.grid(row=8,column=1)

but4 = Button(text='Using KNN',command=fif)
but4.grid(row=9,column=0)

but5 = Button(text='Using NB',command=six)
but5.grid(row=9,column=1)

but6 = Button(text='Most Accurate',command=sev,width=100)
but6.grid(row=10,column=0,columnspan=2)

new_label = Label(text='',font=('Newsreader',30),fg='green')
new_label.grid(row=11,column=1)

new_label2 = Label(text='',font=('Newsreader',20),fg='blue')
new_label2.grid(row=12,column=1)

window.mainloop()

C:\anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(