In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
data = pd.read_csv('titanic.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
data = data.drop(['Name','Age','Cabin','Ticket'],axis=1)
data.head()

   PassengerId  Survived  Pclass     Sex  SibSp  Parch     Fare Embarked
0            1         0       3    male      1      0   7.2500        S
1            2         1       1  female      1      0  71.2833        C
2            3         1       3  female      0      0   7.9250        S
3            4         1       1  female      1      0  53.1000        S
4            5         0       3    male      0      0   8.0500        S

In [4]:
data.fillna('C',axis=1,inplace=True)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   SibSp        891 non-null    int64
 5   Parch        891 non-null    int64
 6   Fare         891 non-null    float64
 7   Embarked     891 non-null    object
dtypes: float64(1), int64(5), object(2)
memory usage: 55.8+ KB

In [6]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
for i in data.columns:
    if data.dtypes[i] == object:
        data[i]=lb.fit_transform(data[i])

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    int32
 4   SibSp        891 non-null    int64
 5   Parch        891 non-null    int64
 6   Fare         891 non-null    float64
 7   Embarked     891 non-null    int32
dtypes: float64(1), int32(2), int64(5)
memory usage: 48.9 KB

In [8]:
from sklearn.model_selection import train_test_split
X = data.drop('Survived',axis=1)
Y = data['Survived']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.30, random_state=101)

In [9]:
from sklearn.neighbors import KNeighborsClassifier
kn = KNeighborsClassifier()
kn.fit(X_train,Y_train)

KNeighborsClassifier()

In [10]:
#pickle.dump(kn,open('kn.pkl','wb'))

In [11]:
#model = pickle.load(open('kn.pkl','rb'))

In [12]:
y_pred = kn.predict(X_test)

In [13]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test,y_pred)

0.6268656716417911